.hamburger:hover {
  opacity: .6;
}


@media screen and (max-width: 768px) {
  .hamburger {
    position: fixed;
    top: 34px;
    left: 42px;
    z-index: 5;
  }
}

@media screen and (max-width: 428px) {
  .hamburger {
    top: 24px;
    left: 16px;
  }
}
