.people {
    margin: 132px 70px 0;
}
@media screen and (max-width: 1024px) {
    .people {
      margin: 90px 56px 0;
    }
}

@media screen and (max-width: 768px) {
    .people {
      margin: 54px 42px 0;
    }
}

@media screen and (max-width: 428px) {
  .people {
    margin: 44px 16px 0;
  }
}
