.people__quotes {
  max-width: 1140px;
  margin: 132px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 54px;
}

@media screen and (max-width: 1024px) {
  .people__quotes {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .people__quotes {
    margin: 54px auto 0;
  }
}

@media screen and (max-width: 650px) {
  .people__quotes {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 44px;

  }
}

@media screen and (max-width: 428px) {
  .people__quotes {
    margin: 44px auto 0;
  }
}
